@using Inventory.Models
@model CategoryListViewModel

@{
    ViewData["Title"] = "Categories";
}

<div class="container my-5">
    <div class="card border-0 shadow-lg">
        <div class="card-header text-white" style="background: linear-gradient(to right, #4e54c8, #8b6cb0);">
            <h3 class="text-center mt-1">All Categories</h3>
        </div>

        <div class="card-body">
            <form asp-action="Search" method="get" class="form-inline mb-3">
                <input type="text" name="keyword" value="@ViewData["Keyword"]" class="form-control mr-2" placeholder="Search Categories" />
                <button type="submit" class="btn btn-outline-info mt-3">Search</button>
            </form>

            @if (User.IsInRole("Admin"))
            {
                <div>
                    <a asp-action="Create" class="btn btn-outline-success mb-3">Create New Category</a>
                </div>
            }

            @if (!Model.Categories.Any())
            {
                <div class="alert alert-info text-center">
                    No categories available.
                </div>
            }
            else
            {
                <table class="table table-hover table-bordered mt-3 text-center">
                    <thead class="table-success">
                        <tr>
                            <th>Category Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr class="table-default">
                                <td>@category.CategoryName</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-action="PrintProducts" asp-route-id="@category.CategoryID">
                                                        <i class="fas fa-eye"></i> Show Products
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@category.CategoryID">
                                                        <i class="fas fa-edit"></i> Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@category.CategoryID">
                                                        <i class="fas fa-trash-alt"></i> Delete
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-action="PrintProducts" asp-route-id="@category.CategoryID">
                                                        <i class="fas fa-eye"></i> Show Products
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                //Pagination
                <div class="d-flex justify-content-center mt-3">
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">Previous</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                            }

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                if (i == Model.CurrentPage)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">@i</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                    </li>
                                }
                            }

                            @if (Model.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Next</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
    </div>
</div>
